<template>
<div>
  <nav>
    <div class="nav-wrapper">
        <div v-if="!isSearchOpen">
          <div style="margin-left: 10px" class="brand-logo">COVID-19 in <b>{{selectedCountryName}}</b></div>
          <ul id="nav-mobile" class="right">
            <li><a @click="isSearchOpen = true"><i class="material-icons">search</i></a></li>
          </ul>
        </div>
        <div v-else>
        <form>
          <div class="input-field">
            <autocomplete
              :options="countryOptions" @autocompleted="onAutocomplete" :value="selectedCountryName">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
        </div>
    </div>
  </nav>
  <main v-if="allChartData" class="container">
    <h4 class="white-text">CDRI*: Cumulative</h4>
    <b class="white-text">*(Confirmed, Deaths, Recovered &amp; Infected)</b>
    <cumulative :chartdata="chartData"></cumulative>
    <h4 class="white-text">Vaccinations</h4>
    <vaccinated :chartdata="chartData"></vaccinated>
    <h4 class="white-text">CDR*: Daily</h4>
    <b class="white-text">*(Confirmed, Deaths, &amp; Recovered)</b>
    <current :chartdata="chartData"></current>
    <div style="margin-bottom: 100px"></div>
  </main>
  <main v-else>
     <v-progress-circular
      indeterminate
      color="primary"
    ></v-progress-circular>
  </main>
  <app-footer :lastUpdated="lastUpdated"></app-footer>
  </div>
</template>
<script>
import Cumulative from "./Cumulative.vue";
import Current from "./Current.vue";
import Autocomplete from "./autocomplete.vue";
import "material-icons/iconfont/material-icons.css";
import AppFooter from './AppFooter.vue';
import Vaccinated from './Vaccinated.vue';

export default {
  components: { Cumulative, Current, Autocomplete, AppFooter, Vaccinated },
  data() {
    const selectedCountryName = decodeURI(location.hash.slice(1)) || "Germany";
    fetch("./compiled.json")
    .then(res => res.json())
    .then(chartData=> {
      console.log(chartData);
      this.countryOptions = Object.fromEntries(
        Object.keys(chartData.data).map((countryName) => [countryName, null])
      );
      this.lastUpdated =  new Intl.DateTimeFormat().format(new Date(chartData.last_updated));
      this.allChartData = chartData;
    })
    return {
      selectedCountryName,
      countryOptions: {},
      isSearchOpen: false,
      lastUpdated: "n/a"
    };
  },
  computed: {
    chartData() {
      if(this.allChartData) {
        return this.allChartData.data[this.selectedCountryName];
      } else {
        return [];
      }
    },
  },
  methods: {
    onAutocomplete(newValue) {
      this.isSearchOpen = false;
      setTimeout(() => {
        this.selectedCountryName = newValue;
        location.hash = newValue
      }, 0);
    },
  },
};
</script>

<style>
</style>
