<template>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l5 s12">
          <h5 class="white-text">COVID-19 Statistics</h5>
          <p class="grey-text text-lighten-4">
            CDRI, CDI and Vaccination data updated daily (Last Update: {{lastUpdated}})
          </p>
        </div>
        <div class="col l5 offset-l2 s12">
          <h5 class="white-text valign-wrapper"><i class="material-icons">table_chart</i><span>Data Sources</span></h5>
          <ul>
            <li>
              <a
                class="grey-text text-lighten-3"
                href="https://github.com/RamiKrispin/coronavirus/"
                >https://github.com/RamiKrispin/coronavirus/</a
              > for Infection data
            </li>
            <li>
              <a
                class="grey-text text-lighten-3"
                href="https://github.com/govex/COVID-19/blob/master/data_tables/vaccine_data/global_data/time_series_covid19_vaccine_global.csv"
                >https://github.com/govex/COVID-19</a
              > for Vaccination Data
            </li>
          </ul>
          <h5 class="white-text valign-wrapper"><i class="material-icons">code</i>Source Code</h5>
          <ul>
            <li>
              <a
                class="grey-text text-lighten-3"
                href="https://gitlab.com/csicar/CoronaDashboard/"
                >https://gitlab.com/csicar/CoronaDashboard/</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        License: <a class="white-text" href="https://choosealicense.com/licenses/mpl-2.0/">MPL 2.0</a>
        <a
          class="grey-text text-lighten-4 right"
          href="https://github.com/csicar"
          >Github/csicar</a
        >
      </div>
    </div>
  </footer>
</template>
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: ["lastUpdated"]
});
</script>