<template>
  <div class="input-field col s12">
    <!-- <i class="material-icons prefix">flag</i> -->
    <input type="search" id="autocomplete-input" :value="value" ref="autocomplete" />
    <label for="autocomplete-input"></label>
  </div>
</template>
<script lang="ts">
import Materialize from "materialize-css/dist/js/materialize";
import Vue from "vue";

export default Vue.extend({
  props: ["options", "value"],
  mounted() {
    console.log("orig options", this.options)
    var instance = Materialize.Autocomplete.init(this.$refs.autocomplete, {
      data: this.options,
      onAutocomplete: () => this.$emit('autocompleted', this.$refs.autocomplete.value)
    });
    instance.open()
    instance.close()
    this.instance = instance;
  },
  watch: {
    options(newOptions) {
      console.log("newoptions", newOptions)
      this.instance.updateData(newOptions);
    },
  },
});
</script>