<template>
  <div>
    <line-chart
      :chart-data="datacollection"
      :options="chartOptions"
      :styles="chartStyles"
    ></line-chart>
  </div>
</template>
<script>
import LineChart from "./LineChart.vue";
import defaultChartOptions from "./config";

export default {
  components: { LineChart },
  props: ["chartdata"],
  computed: {
    datacollection() {
      console.log(this.chartdata);
      const db = Object.entries(this.chartdata);
      const accumulatedDb = [];
      let currentAcc = {
        date: null,
        row: { death: 0, confirmed: 0, recovered: 0 },
      };
      db.forEach(([date, r]) => {
        const dead = +r.death || 0;
        const confirmed = +r.confirmed || 0;
        const recovered = +r.recovered || 0;
        currentAcc = {
          date,
          row: {
            death: currentAcc.row.death + dead,
            confirmed: currentAcc.row.confirmed + confirmed,
            recovered: currentAcc.row.recovered + recovered,
          },
        };
        accumulatedDb.push(currentAcc);
      });
      console.log(accumulatedDb);
      return {
        labels: accumulatedDb.map((it) => it.date),
        datasets: [
          {
            label: "dead",
            borderColor: "#E94220",
            backgroundColor: "transparent",
            pointSize: 0,
            pointBackgroundColor: "#E94220",
            pointBorderColor: "transparent",
            data: accumulatedDb.map((d) => ({ x: d.date, y: d.row.death })),
          },
          {
            label: "confirmend",
            borderColor: "#30A7BF",
            backgroundColor: "#30A7BF33",
            pointSize: 0,
            pointBackgroundColor: "#30A7BF",
            pointBorderColor: "transparent",
            data: accumulatedDb.map((d) => ({ x: d.date, y: d.row.confirmed })),
          },
          {
            label: "recovered",
            borderColor: "#A7F432",
            backgroundColor: "transparent",
            pointSize: 0,
            pointBackgroundColor: "#A7F432",
            pointBorderColor: "transparent",
            data: accumulatedDb.map((d) => ({ x: d.date, y: d.row.recovered })),
          },
          {
            label: "active",
            borderColor: "#FEDF00",
            backgroundColor: "#FEDF0033",
            pointSize: 0,
            pointBackgroundColor: "#FEDF00",
            pointBorderColor: "transparent",
            data: accumulatedDb.map((d) => ({
              x: d.date,
              y: d.row.confirmed - d.row.death - d.row.recovered,
            })),
          },
        ],
      };
    },
  },
  data() {
    return {
      chartOptions: defaultChartOptions,
      chartStyles: {
        height: "500px",
        position: "relative",
      },
    };
  },
};
</script>

<style>
</style>
