<template>
  <div>
    <line-chart
      :chart-data="datacollection"
      :options="chartOptions"
      :styles="chartStyles"
    ></line-chart>
  </div>
</template>
<script>
import LineChart from "./LineChart.vue";
import defaultChartOptions from "./config";


export default {
  components: { LineChart },
  props: ["chartdata"],
  computed: {
    datacollection() {
      const db = Object.entries(this.chartdata);
      console.log("db", db)
      return {
        labels: db.map(([date]) => date),
        datasets: [
          {
            label: "Fully Vaccinated",
            borderColor: "#E94220",
            backgroundColor: "transparent",
            pointSize: 0,
            pointBackgroundColor: "#E94220",
            pointBorderColor: "transparent",
            data: db.map(([date, r]) => ({ y: r.peopleFullyVaccinated, x: date })),
          },
          {
            label: "Partially Vaccinated",
            borderColor: "#30A7BF",
            backgroundColor: "#30A7BF33",
            pointSize: 0,
            pointBackgroundColor: "#30A7BF",
            pointBorderColor: "transparent",
            data: db.map(([date, r]) => ({ y: r.peoplePartiallyVaccinated, x: date })),
          },
          {
            label: "Doses Administered",
            borderColor: "#A7F432",
            backgroundColor: "transparent",
            pointSize: 0,
            pointBackgroundColor: "#A7F432",
            pointBorderColor: "transparent",
            data: db.map(([date, r]) => ({ y: r.dosesAdmin, x: date })),
          },
        ],
      };
    },
  },
  data() {
    return {
      chartOptions: defaultChartOptions,
      chartStyles: {
        height: "400px",
        position: "relative",
      },
    };
  },
};
</script>

<style>
</style>
